<% content_for :title do %>: Editing quote<% end %>

<h1>Editing quote</h1>

<%= render :partial => 'form', :locals => {:button_label => "Save quote"} %>

<%= link_to 'Back to quote', @quote, :class => 'button' %>
