<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:format => :atom}, {:title => 'All quotes'} %>
<% end %>

<h1>Listing quotes</h1>

<% for quote in @quotes %>
<%= formatted_quote quote %>
<% end %>

<%= link_to 'New quote', new_quote_path %>
