<% content_for :title do %>: All quotes<% end %>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:format => :atom}, {:title => 'All quotes'} %>
<% end %>

<% content_for :header do %>
<h1>Listing quotes</h1>
<% end %>

<% for quote in @quotes %>
<%= formatted_quote quote %>
<% end %>

<%= link_to 'New quote', new_quote_path, :class => 'button' %>
