{% extends "layouts/home.html" %}

{% block head %}
{%   if let Some(current_user) = session.current_user %}
<link rel="alternate" type="application/atom+xml" title="Quotes of interest to {{ current_user.fullname }}" href="/users/{{ current_user.id }}/relevant_quotes.atom" />
<link rel="alternate" type="application/atom+xml" title="Comments of interest to {{ current_user.fullname }}" href="/users/{{ current_user.id }}/relevant_comments.atom" />
{%   endif %}
{% endblock %}

{% block body %}
{% if quotes.is_empty() %}
<p>Once you join some quotebooks or add quotes to your quotebooks, they will show up here.</p>
{% else %}
{%   for quote in quotes %}
{{ quote|formatted_quote(false, true, true, true, true)|safe }}
{%   endfor %}
  <ul class="pagination">
    {% include "shared/pages.html" %}
    <li><a href="{% if let Some(current_user) = session.current_user %}/users/{{ current_user.id }}/relevant_quotes{% else %}/quotes{% endif %}" class="button">All</a>
  </ul>
{% endif %}
{% endblock %}

{% block sidebars %}
<div class="sidebar left">
{% if session.logged_in() %}
  <h2>Your quotebooks</h2>
{%   if current_user_contexts.is_empty() %}
  <p>
    You are not part of any quotebooks yet. Perhaps you would like to look through the <a href="/contexts">list of quotebooks</a> to find some to join, or <a href="/contexts/new">create a new quotebook</a> for quotes from your group of friends?
  </p>
{%   else %}
  <ul>
{%     for context in current_user_contexts %}
    <li>
      <a href="/contexts/{{ context.id }}" title="{{ context.description }}">{{ context.name }}</a> ({{ context.quotes_count }})
    </li>
{%     endfor %}
  </ul>
{%   endif %}
{% endif %}

  <h2>Top quotebooks</h2>
  <ul>
{% for context in top_contexts %}
    <li>
      <a href="/contexts/{{ context.id }}" title="{{ context.description }}">{{ context.name }}</a> ({{ context.quotes_count }})
    </li>
{% endfor %}
  </ul>

  <ul>
    <li><a href="/contexts/new">Create a new quotebook</a></li>
    <li><a href="/contexts">All quotebooks</a></li>
  </ul>
</div>

{% if !comments.is_empty() %}
<div class="sidebar right" id="comments">
  <h2>Latest comments</h2>
  {% let show_context = true %}
  {% include "comments/list_sidebar.html" %}

  {% if let Some(current_user) = session.current_user %}
  <hr />
  <ul>
    <li><a href="/users/{{ current_user.id }}/relevant_comments">All comments on your quotebooks</a></li>
  </ul>
  {% endif %}
</div>
{% endif %}

{% endblock %}
