<% form_for([@quote, @comment], :html => {:class => 'clearfix'}) do |f| %>
  <%= f.error_messages %>

  <h2><%= link_to_user(current_user) %> says:</h2>
  <%= f.text_area :body %>
  <%= f.submit button_label, :class => 'button' %>
<% end %>
