<% form_for([@quote, @comment]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= link_to_user(current_user) %> says:<br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>
