<% content_for :title do %>: Editing comment<% end %>

<% content_for :header do %>
<h1>Editing comment</h1>
<% end %>

<%= render :partial => 'form', :locals => {:button_label => 'Update comment', :cancel_label => 'Back to quote', :cancel_link => @quote} %>
