<h1>Editing comment</h1>

<%= render :partial => 'form', :locals => {:button_label => 'Update comment'} %>

<%= link_to 'Show', quote_comment_path(@quote, @comment) %> |
<%= link_to 'Back', quote_comments_path(@quote) %>
