<% content_for :title do %>: New comment<% end %>

<h1>New comment</h1>

<%= render :partial => 'form', :locals => {:button_label => 'Post comment', :cancel_label => 'Back to quote', :cancel_link => @quote} %>
