<form action="/quotes" method="post" class="border clearfix">
  <h2><label for="quote_text">Add Quote</label></h2>

  {% match form.possible_quotee_matches %}
  {% when Some with (possible_quotee_matches) %}
    <p class="text">
      Sorry, we cannot find anyone called '{{ form.quotee }}'.
    </p>
    {% if !possible_quotee_matches.is_empty() %}
      <p class="text list-heading">
        Did you mean one of these people:
      </p>
      <ul>
      <% @possible_quotee_matches.each do |possible_quotee_match| %>
        <li class="text"><%= link_to_function "#{h(possible_quotee_match.fullname)} (#{h(possible_quotee_match.username)})", "javascript:document.getElementById('quotee').value='#{ escape_javascript(possible_quotee_match.username || possible_quotee_match.fullname) }'" %></li>
      <% end %>
      </ul>
    {% endif %}
    <p class="text">
      Would you like to <%= link_to "create a new person called '#{h(params[:quotee])}'", new_user_path(:mode => 'partial', :fullname => params[:quotee]) %>?
    </p>
  {% when None %}
  {% endmatch %}

  {{ form.error_messages }}

  <textarea name="quote_text" id="quote_text" rows="4" cols="80"></textarea>
  <div class="input"><div>
    <label for="quotee_name">by</label>
    <input type="text" name="quotee_name" id="quotee_name" value="{{ form.quotee }}"/>
  </div></div>
  <div class="input"><div>
    <label for="context_name">in</label>
{% match form.context %}
{% when Some with (context) %}
    <input type="text" name="context_dummy" id="context_name" value="{{ context.name }}" disabled="disabled" />
    <input type="hidden" name="context_name" value="{{ context.name }}" />
{% when None %}
    <input type="text" name="context_name" id="context_name" value="{{ form.context_name }}"/>
{% endmatch %}
  </div></div>

  <input type="submit" class="button" value="{{ button_label }}" />

  <div class="fleuron tr"></div>
  <div class="fleuron bl"></div>
  <div class="fleuron br"></div>
</form>
