body {
  margin: 0px;
  padding: 0px;
}

#user-bar {
  background-color: #4C5E97;
  color: #CCCCCC;
  padding: 5px;
  height: 1.5em;
}

#user-bar a {
  color: #FFFFFF;
}

#user-bar-user {
  position: absolute;
  left: 5px; /* Konqueror seems to need this, though it should be implied by padding of #user-bar. */
}

#user-bar-links {
  position: absolute;
  right: 5px;
  top: 6px;
}

#content {
  margin: 8px;
}

#content.with-sidebar {
  margin-right: 355px;
}

a img {
  border: none;
}

#sidebar {
  position: absolute;
  right: 0px;
  top: 1.5em;
  margin-top: 15px;
  width: 360px;
}

.sidebar-block {
  background-color: #A2CE5B;
  margin: 10px;
  padding: 5px;
}

.sidebar-block h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sidebar-block p {
  margin-bottom: 5px;
}

.sidebar-block a:visited {
  color: #444444;
}

.sidebar-block ul {
  padding-left: 30px;
}

h2 {
  color: #993264;
}

.quote {
  margin: 15px 0px;
}

.quote-text {
  font-size: 18px;
  padding-bottom: 4px;
}

.quote-quotee {
  float: right;
  font-size: 18px;
  margin-right: 20px;
}
