<% content_for :title do %>: All users<% end %>

<h1>Listing users</h1>

<ul>
<% for user in @users %>
  <li><%= link_to_user(user, :content_method => :fullname, :title_method => :username) %></li>
<% end %>
</ul>
