<% content_for :title do %>: <%=h @user.fullname %>'s quotes<% end %>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:format => :atom}, {:title => "Quotes by #{h(@user.fullname)}"} %>
<% end %>

<h1>All quotes by <%=h @user.fullname %></h1>

<% for quote in @quotes %>
<%= formatted_quote quote %>
<% end %>
