<h1>Listing contexts</h1>

<ul>
<% for context in @contexts %>
  <li>
    <%= link_to h(context.name), context %> &mdash; <%=h context.description %> (<%= context.quote_count %> quotes)
  </li>
<% end %>
</ul>

<%= link_to 'New context', new_context_path %>
