<h1>New quotebook</h1>

<p class="note">
  Each quotebook is for a particular place or group in which quotes are said &mdash; you could create a quotebook for your flat, your office, lab, club, or just a group of friends who hang out together and say funny things. Once you have created a context anyone can join it and add quotes to it.
</p>

<p class="note">
  Before you create a new quotebook, take a look at the <%= link_to 'list of quotebooks', contexts_path %> to make sure that nobody else has already created the one you want.
</p>

<%= render :partial => 'form', :locals => {:cancel_link => contexts_path, :cancel_label => 'Back'} %>
