<h1>New context</h1>

<p>
  A context is a place or group in which quotes are said &mdash; you could create a context for your flat, your office, lab, club, or just a group of friends who hang out together and say funny things. Once you have created a context anyone can join it and add quotes to it.
</p>

<p>
  Before you create a new context, take a look at the <%= link_to 'list of contexts', contexts_path %> to make sure that nobody else has already created the one you want.
</p>

<%= render :partial => "form" %>

<%= link_to 'Back', contexts_path %>
