<p>
  <b>Name:</b>
  <%=h @context.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @context.description %>
</p>


<%= link_to 'Edit', edit_context_path(@context) %> |
<%= link_to 'Back', contexts_path %>
