<blockquote{% if single %} class="single"{% endif %}>
  <p>
    {% if quote_link %}
    <a href="/quotes/{{ quote.id }}" class="quote">{{ text|safe }}</a>
    {% else %}
    {{ text|safe }}
    {% endif %}
    {% if single %}
    {{ quotee|link_to_user(true, quotee_link.clone(), false, true, 48, "&mdash; ", "author", "")|safe }}
    {% else %}
    {{ quotee|link_to_user(true, quotee_link.clone(), false, true, 24, "&mdash; ", "author", "")|safe }}
    {% endif %}
  </p>
  <div class="meta">
    {% if quote_link %}
    <a href="/quotes/{{ quote.id }}">{{ comments_text }}</a>
    {% else %}
    {{ comments_text }}
    {% endif %}
    Quoted by {{ quoter|link_to_user(true, quoter_link.clone(), false, false, 16, "", "nickname", "")|safe }} on {{ quote.created_at|long_datetime }}{% if show_context %} in <a href="/contexts/{{ context.id }}">{{ context.name }}</a>{% endif %}.
  </div>
</blockquote>
