{% extends "layouts/application.html" %}

{% block title %}: {{ user.fullname }}{% endblock %}

{% block head %}
<link rel="alternate" type="application/atom+xml" title="Quotes by {{ user.fullname }}" href="/users/{{ user.id }}/quotes.atom" />
{% endblock %}

{% block header %}
  <div class="vcard">
    <h1>
      <span class="fn">{{ user.fullname }}</span>
{% match user.username %}
{% when Some with (username) %}
      <div class="tagline">{{ user|gravatar_for(24, "photo")|safe }}<span class="nickname">{{ username }}</span></div>
{% when None %}
{% endmatch %}
    </h1>

{% match user.openid %}
{% when Some with (openid) %}
    <!--TODO: How to display this nicely?-->
    <p style="display: none;">
      <b>OpenID:</b>
      <a href="{{ openid }}" class="url" rel="me">{{ openid }}</a>
    </p>
{% when None %}
{% endmatch %}
  </div>
{% endblock %}

{% block body %}
{% for quote in quotes %}
{{ quote|formatted_quote(false, true, false, true, true)|safe }}
{% endfor %}

<ul class="pagination">
  <%= my_paginate(@quotes) %>
  <li><a href="/users/{{ user.id }}/quotes" class="button">All</a></li>
</ul>
{% endblock %}

{% block sidebars %}
<div class="sidebar left">
{% if !contexts.is_empty() %}
  <h2>{{ user.username_or_fullname() }}'s quotebooks</h2>
  <ul>
{%   for context in contexts %}
    <li>
      <a href="/contexts/{{ context.id }}" title="{{ context.description }}">{{ context.name }}</a> ({{ context.quotes_count }})
    </li>
{%   endfor %}
  </ul>
{% endif %}
</div>

<div class="sidebar right" id="comments">
{% if !comments.is_empty() %}
  <h2>{{ user.username_or_fullname() }}'s comments</h2>
  {% let show_context = false %}
  {% include "comments/list_sidebar.html" %}
{% endif %}
</div>
{% endblock %}
